
html
{
	width: 100vw;
}

body
{
	box-sizing: border-box;
	margin:0;
	background-color: lightgrey;
	width:100vw;

}


.container
{
	display:flex;
	width:100vw;
	flex-wrap:wrap;
}


#header
{
	width:100vw;
	display:inherit;
	border-bottom: 2px solid darkcyan;

}


.icon img
{
	width:100px;
	height:100px;
}


.heading {
    /* align-self: flex-end; */
    flex: 1;
    direction: rtl;
    padding-right: 10px;
}


.box > img
{
	width:100vw;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 10px 0px;

}

.a_project {
    flex: 1;
    text-align: -webkit-center;
    margin: 10px;
    border: 2px solid cadetblue;
    background-color: bisque;
 	}
.p_link a
{
	background-color: gray;
	color:white;
	border:none;
	padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 1em;
}
.p_image  img
{
	width:30vw;
	padding: 10px;
}

@media screen and (max-width:780px)
{
	.a_project
	{
		margin:1em 0em 1em 0em;
	}
	.p_image img
	{
		width:45vw;
	}

}